<html>
<head>
</head>
<body>
<form action="/analyze" method="POST">
  <label>Paste URL here</label>
  <input type="text" id="url" name="url" value="https://validator.w3.org/"></input>
  <input type="submit"></input>
</form>
</body>
</html>
